<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="card p-5 mt-3">
        <div class="row">
            <div class="col-2">
                <img src="assets/img/profle.png" width="20%">
            </div>
            <div class="row col mb-2">
                <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="candidato.cedula" name="cedula" (keyup)="candidato.cedula" placeholder="Cedula" aria-label="cedula" required/>
                </div>
                <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="candidato.nombre" name="nombre" placeholder="Nombre" aria-label="Nombre" required/>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <h5>Laboral</h5>
            <div class="col">
                <select class="form-control" [(ngModel)]="candidato.departamentoId" name="departamentoId" (change)="changeDpt()" required>
                        <option value="0" selected>Seleccione un departamento</option>
                        <option *ngFor="let item of departamentos" [value]="item.id">{{item.descripcion}}</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" [(ngModel)]="candidato.puestoId" name="puestoId" required>
                    <option value="0" selected>Seleccione un puesto</option>
                    <option *ngFor="let item of puestos" [value]="item.codigo">{{item.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <select class="form-control" name="idioma" required>
                    <option value="0" selected>Seleccione un idioma</option>
                    <option *ngFor="let item of idiomas" [value]="item.codigo">{{item.nombre}}</option>
                </select> </div>
            <div class="col-6">
                <input type="number" class="form-control" [(ngModel)]="candidato.salario_Asp" name="salario_Asp" placeholder="Aspiración salarial" required>
            </div>
        </div>
        <div class="row mt-2">
            <h5>Interes</h5>
            <div class="col">
                <textarea class="form-control" placeholder="¿Por qué desea trabajar con nosotros?"></textarea>
            </div>
            <div class="col">
                <input type="text" class="form-control" [(ngModel)]="candidato.recomendado_p" name="recomendado_p" placeholder="Recomendado por" required/>
            </div>
        </div>
        <div class="row mt-2 justify-content-end">
            <div class="col align-self-end">
                <button type="submit" class="btn btn-success">Siguiente</button>
            </div>
        </div>
    </div>
</form>