<div class="card p-5 mt-3">
    <div class="row mb-2">
        <h5>Experiencia Laboral</h5>
        <div class="col">
            <input type="text" class="form-control" placeholder="Empresa" aria-label="Empresa">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Puesto" aria-label="Puesto">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Salario" aria-label="Salario">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Desde" aria-label="Desde">
        </div>
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Hasta" aria-label="Hasta">
        </div>
        <hr class="mt-3" />
    </div>
    <div class="row mb-2">
        <div class="col">
            <input type="text" class="form-control" placeholder="Empresa" aria-label="Empresa">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Puesto" aria-label="Puesto">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Salario" aria-label="Salario">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Desde" aria-label="Desde">
        </div>
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Hasta" aria-label="Hasta">
        </div>
        <div class="col-4">
            <button class="btn btn-warning mr-2">Agregar</button>
            <button class="btn btn-primary m-2">Quitar</button>
        </div>
        <hr class="mt-3" />
    </div>
    <div class="row mb-2">
        <div class="col">
            <input type="text" class="form-control" placeholder="Empresa" aria-label="Empresa">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Puesto" aria-label="Puesto">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Salario" aria-label="Salario">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Desde" aria-label="Desde">
        </div>
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Hasta" aria-label="Hasta">
        </div>
        <div class="col-4">
            <button class="btn btn-warning mr-2">Agregar</button>
            <button class="btn btn-primary m-2">Quitar</button>
        </div>
        <hr class="mt-3" />
    </div>
</div>