<h4>Mantenimiento de Competencias</h4>

<div>
    <form #f="ngForm" (ngSubmit)="submit(f)" action="">
        <div class="row mb-2">
            <div class="col-3">
                <input class="form-control" [(ngModel)]="competencia.id" name="id" hidden />
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input class="form-control" [(ngModel)]="competencia.descripcion" name="descripcion" id="descripcion" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select [(ngModel)]="competencia.estado" name="estado" id="estado" class="form-control" required>
                        <option value="" selected>Seleccione un estado</option>
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="table-responsive mt-5">
    <h6>Listado de idiomas</h6>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of competencias">
                <td>{{item.codigo}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.estado}}</td>
                <td>
                    <button (click)="edit(item.codigo)" class="btn btn-warning"><i class='bx bx-pencil'></i>Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>