<div class="card p-5 mt-3">
    <div class="row mb-2">
        <h5>Competencias</h5>
        <div class="col-4">
            <select class="form-control" name="departamento">
            </select>
        </div>
    </div>
    <div class="row mb-2">
        <h5>Capaciataciones</h5>
        <div class="col">
            <input type="text" class="form-control" placeholder="Descripción" aria-label="descripción">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Nivel" aria-label="nivel">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Institución" aria-label="institución">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Desde" aria-label="Desde">
        </div>
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Hasta" aria-label="Hasta">
        </div>
        <hr class="mt-3" />
    </div>
    <div class="row mb-2">
        <div class="col">
            <input type="text" class="form-control" placeholder="Descripción" aria-label="descripción">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Nivel" aria-label="nivel">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Institución" aria-label="institución">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Desde" aria-label="Desde">
        </div>
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Hasta" aria-label="Hasta">
        </div>
        <div class="col-4">
            <button class="btn btn-warning mr-2">Agregar</button>
            <button class="btn btn-primary m-2">Quitar</button>
        </div>
        <hr class="mt-3" />
    </div>
    <div class="row mb-2">
        <div class="col">
            <input type="text" class="form-control" placeholder="Descripción" aria-label="descripción">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Nivel" aria-label="nivel">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Institución" aria-label="institución">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Desde" aria-label="Desde">
        </div>
        <div class="col-4">
            <input type="date" class="form-control" placeholder="Hasta" aria-label="Hasta">
        </div>
        <div class="col-4">
            <button class="btn btn-warning mr-2">Agregar</button>
            <button class="btn btn-primary m-2">Quitar</button>
        </div>
        <hr class="mt-4" />
    </div>
</div>