<div class="">
    <div class="row">
        <div class="pt-2 text-center">
            <div class="row">
                <h3>Bienvenido al sistema de Reclutamiento</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="assets/img/rrhh.jpg" width="30%" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <p class="pt-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. In eaque dolorem culpa asperiores. Pariatur minus dolorem et eos? Ut nobis perferendis nam delectus laborum excepturi unde consequuntur consequatur magnam non.</p>

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="row m-2">
                    <div class="col-2">
                    </div>
                    <div class="col-8">
                        <a href="/Identity/Account/Login" class="btn btn-primary m-2">Iniciar sesión</a>
                        <a [routerLink]="['/candidato']" class="btn btn-primary m-2">Postularme</a>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>