<header [class]="'header '+headerpdC" id="header" *ngIf="(isAuthenticated | async)">
    <div [class]="'header_toggle '+toggleC"> <i class='bx bx-menu' id="header-toggle" (click)="toggle()"></i> </div>
    <!-- <div class="header_img"><img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div> -->
    <div class="">Hello {{ userName | async }}</div>
</header>
<div [class]="'l-navbar '+navC" id="nav-bar" *ngIf="(isAuthenticated | async)">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">BBBootstrap</span> </a>
            <div class="nav_list">
                <div [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/']" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a>
                </div>
                <div [routerLinkActive]="['active']">
                    <a [routerLink]="['/seleccion']" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Selección</span> </a>

                </div>
                <!-- <div [routerLinkActive]="['active']">
                    <a [routerLink]="['home/fetch-data']" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Messages</span> </a>
                </div> -->
                <div [routerLinkActive]="['active']">
                    <a [routerLink]="['/puesto']" class="nav_link"> <i class='bx bx-store nav_icon'></i> <span class="nav_name">Puestos</span> </a>
                </div>
                <div [routerLinkActive]="['active']">
                    <a [routerLink]="['/idioma']" class="nav_link"> <i class='bx bx-at nav_icon'></i> <span class="nav_name">Idiomas</span> </a>
                </div>
                <div [routerLinkActive]="['active']">
                    <a [routerLink]="['/competencia']" class="nav_link"> <i class='bx bx-dumbbell nav_icon'></i> <span class="nav_name">Competencias</span> </a>
                </div>
                <div [routerLinkActive]="['active']">
                    <a [routerLink]="['/empleado']" class="nav_link"> <i class='bx bx-user  nav_icon'></i> <span class="nav_name">Empleado</span> </a>

                </div>
                <div [routerLinkActive]="['active']">
                    <a [routerLink]="['/consulta']" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Consulta</span> </a>
                </div>
                <div [routerLinkActive]="['active']">
                    <a [routerLink]="['/reporte']" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Reporte</span> </a>
                </div>
                <div [routerLinkActive]="['active']">
                    <a [routerLink]='["/authentication/logout"]' [state]='{ local: true }' class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Cerrar sesión</span> </a>
                    <!-- <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Stats</span> </a> -->
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- <header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">OpenSourceWeb</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header> -->