<h4>Mantenimiento de Puestos</h4>

<div>
    <form action="">
        <div class="row mb-2">
            <div class="col-3">
                <input class="form-control" name="id" hidden />
                <div class="form-group">
                    <label for="nombre">Descripción</label>
                    <input class="form-control" name="nombre" id="nombre" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="riesgo">Nivel de riesgo</label>
                    <select name="riesgo" id="riesgo" class="form-control"></select>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select name="estado" id="estado" class="form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="salariom">Salario minimo</label>
                    <input type="number" class="form-control" name="salariom" id="salariom" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="salarioma">Salario maximo</label>
                    <input type="number" class="form-control" name="salarioma" id="salarioma" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="table-responsive mt-5">
    <h6>Listado de idiomas</h6>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>