<h4>Mantenimiento de Puestos</h4>

<div>
    <form #f="ngForm" (ngSubmit)="submit(f)" action="">
        <div class="row mb-2">
            <div class="col-3">
                <input class="form-control" [(ngModel)]="puesto.id" name="id" hidden />
                <div class="form-group">
                    <label for="nombre">Descripción</label>
                    <input class="form-control" [(ngModel)]="puesto.nombre" name="nombre" id="nombre" required />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="nivel_Riesgo">Nivel de riesgo</label>
                    <select name="nivel_Riesgo" [(ngModel)]="puesto.nivel_Riesgo" id="nivel_Riesgo" class="form-control" required>
                        <option value="" selected>Seleccione un nivel de riesgo</option>
                        <option value="Muy Bajo">Muy Bajo</option>
                        <option value="Bajo">Bajo</option>
                        <option value="Medio">Medio</option>
                        <option value="Alto">Alto</option>
                        <option value="Muy Alto">Muy Alto</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select name="estado" [(ngModel)]="puesto.estado" id="estado" class="form-control" required>
                        <option value="" selected>Seleccione un estado</option>
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="nivel_Mi_Salarial">Salario mínimo</label>
                    <input type="number" class="form-control" [(ngModel)]="puesto.nivel_Mi_Salarial" name="nivel_Mi_Salarial" id="nivel_Mi_Salarial" required/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="nivel_Ma_Salarial">Salario máximo</label>
                    <input type="number" class="form-control" [(ngModel)]="puesto.nivel_Ma_Salarial" name="nivel_Ma_Salarial" id="nivel_Ma_Salarial" required/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="departamentoId">Departamento</label>
                    <select name="departamentoId" [(ngModel)]="puesto.departamentoId" id="departamentoId" class="form-control" required>
                        <option value="0" selected>Seleccione un departamento</option>
                        <option *ngFor="let item of departamentos" [value]="item.id">{{item.descripcion}}</option>
                    </select> </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="table-responsive mt-5">
    <h6>Listado de puestos</h6>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Nivel Riesgo</th>
                <th>Salario Mínimo</th>
                <th>Salario Máximo</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of puestos">
                <td>{{item.codigo}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.nivel_Riesgo}}</td>
                <td>{{item.nivel_Mi_Salarial}}</td>
                <td>{{item.nivel_Ma_Salarial}}</td>
                <td>{{item.estado}}</td>
                <td>
                    <button (click)="edit(item.codigo)" class="btn btn-warning"><i class='bx bx-pencil'></i>Editar</button>
                    <!-- <a [routerLink]="['/idioma', item.codigo]" class="btn btn-warning" ><i class='bx bx-pencil'></i>Editar</a> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>