<h4>Reporte</h4>

<div>
    <form #f="ngForm" (ngSubmit)="submit(f)" action="">
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label for="desde">Desde</label>
                    <input type="datetime-local" class="form-control" [(ngModel)]="data.desde" name="desde" id="desde" required/>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="hasta">Hasta</label>
                    <input type="datetime-local" class="form-control" [(ngModel)]="data.hasta" name="hasta" id="hasta" required/>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <button type="button" class="btn btn-warning m-2">Limpiar</button>
                    <button type="submit" class="btn btn-primary m-2">Buscar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row mt-3">
    <div class="col-2">
        <button [disabled]="empleados.length===0" class="btn btn-secondary" printSectionId="print-section" ngxPrint>Imprimir</button>
    </div>
</div>
<div class="table-responsive mt-5" id="print-section">
    <h6>Listado de empleados</h6>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Puesto</th>
                <th>Departamento</th>
                <th>Salario</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of empleados">
                <td>{{item.id}}</td>
                <td>{{item.cedula}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.puesto}}</td>
                <td>{{item.departamento}}</td>
                <td>{{item.salario_M|currency}}</td>
                <td>{{item.fecha_Ing|date:'shortDate'}}</td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>